/*bottom*/
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: slateblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Основная обертка */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота = 100% экрана */
}

/* Контент должен занимать все доступное пространство */
main {
    flex: 1; /* Заполняет всё доступное пространство */
    padding: 20px;
}

@media (max-width: 1080px) {
    footer {
    background-color: #333;
    font-size: 24px;
    color: white;
    padding: 20px;
    text-align: center;
    }
}
