/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: linear-gradient(0deg, #796857, #aa9988);
}

/* Контейнер для изображений и текста */
.content {
    display: flex;  /* По умолчанию горизонтальное расположение */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Расстояние между элементами */
}

/* Общие стили для изображений */
.content img {
    max-width: 50%; 
    height: auto;   
}
/* Стили для текста */
.text {
    max-width: 1080px; 
    font-size: 18px; 
    line-height: 1.6; /
}

/* Медиа-запрос при сужении экрана */
@media (max-width: 1200px) {
    .content {
        flex-direction: column; /* При сжатии экрана – вертикальный режим */
        align-items: center; /* Центрирование содержимого */
    }

    .content img {
        max-width: 100%; /* Изображения растягиваются на всю ширину */
    }
}
